{% extends "ui/panels/_base.html" %}
{% load helpers %}
{% load i18n %}

{% block panel_content %}
  <table class="table table-hover attr-table">
    <tr>
      <th scope="row">{% trans "Device" %}</th>
      <td>{{ interface.device|linkify }}</td>
    </tr>
    <tr>
      <th scope="row">{% trans "Interface" %}</th>
      <td>{{ interface|linkify }}</td>
    </tr>
    <tr>
      <th scope="row">{% trans "Type" %}</th>
      <td>{{ interface.get_type_display }}</td>
    </tr>
    <tr>
      <th scope="row">{% trans "Role" %}</th>
      <td>{{ interface.get_rf_role_display|placeholder }}</td>
    </tr>
    <tr>
      <th scope="row">{% trans "Channel" %}</th>
      <td>{{ interface.get_rf_channel_display|placeholder }}</td>
    </tr>
    <tr>
      <th scope="row">{% trans "Channel Frequency" %}</th>
      <td>
        {% if interface.rf_channel_frequency %}
          {{ interface.rf_channel_frequency|floatformat:"-2" }} {% trans "MHz" context "Abbreviation for megahertz" %}
        {% else %}
          {{ ''|placeholder }}
        {% endif %}
      </td>
    </tr>
    <tr>
      <th scope="row">{% trans "Channel Width" %}</th>
      <td>
        {% if interface.rf_channel_width %}
          {{ interface.rf_channel_width|floatformat:"-3" }} {% trans "MHz" context "Abbreviation for megahertz" %}
        {% else %}
          {{ ''|placeholder }}
        {% endif %}
      </td>
    </tr>
  </table>
{% endblock panel_content %}
