{% extends 'generic/object.html' %}
{% load helpers %}
{% load plugins %}
{% load i18n %}

{% block title %}{% trans "VLAN" %} {{ object }}{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% if object.site %}
    <li class="breadcrumb-item"><a href="{% url 'ipam:vlan_list' %}?site_id={{ object.site.pk }}">{{ object.site }}</a></li>
  {% endif %}
  {% if object.group %}
    <li class="breadcrumb-item"><a href="{% url 'ipam:vlan_list' %}?group_id={{ object.group.pk }}">{{ object.group }}</a></li>
  {% endif %}
{% endblock %}
