{% load i18n %}
<span>
  {{ value|linkify }}
  {% if value and object.position %}
    (U{{ object.position|floatformat }} / {{ object.get_face_display }})
  {% elif value and object.device_type.u_height %}
    <span class="badge text-bg-warning">{% trans "Not racked" %}</span>
  {% endif %}
</span>
{% if object.position %}
  <a href="{{ value.get_absolute_url }}?device={{ object.pk }}" class="btn btn-primary btn-sm d-print-none" title="{% trans "Highlight device in rack" %}">
    <i class="mdi mdi-view-day-outline"></i>
  </a>
{% endif %}
