{% extends "ui/panels/_base.html" %}
{% load helpers i18n %}

{% block panel_content %}
  {% if object.installed_module %}
    {% with module=object.installed_module %}
      <table class="table table-hover attr-table">
        <tr>
          <th scope="row">{% trans "Module" %}</th>
          <td>{{ module|linkify }}</td>
        </tr>
        <tr>
          <th scope="row">{% trans "Manufacturer" %}</th>
          <td>{{ module.module_type.manufacturer|linkify }}</td>
        </tr>
        <tr>
          <th scope="row">{% trans "Module type" %}</th>
          <td>{{ module.module_type|linkify }}</td>
        </tr>
        <tr>
          <th scope="row">{% trans "Serial number" %}</th>
          <td class="font-monospace">{{ module.serial|placeholder }}</td>
        </tr>
        <tr>
          <th scope="row">{% trans "Asset tag" %}</th>
          <td class="font-monospace">{{ module.asset_tag|placeholder }}</td>
        </tr>
      </table>
    {% endwith %}
  {% else %}
    <div class="card-body text-muted">{% trans "None" %}</div>
  {% endif %}
{% endblock panel_content %}
