{% load i18n %}
<div class="text-end mb-4">
  <select class="btn btn-outline-secondary no-ts rack-view">
    <option value="images-and-labels" selected="selected">{% trans "Images and Labels" %}</option>
    <option value="images-only">{% trans "Images only" %}</option>
    <option value="labels-only">{% trans "Labels only" %}</option>
  </select>
</div>
<div class="row" style="margin-bottom: 20px">
  <div class="col col-md-6 col-sm-6 col-xs-12 text-center">
    <div style="margin-left: 30px">
      <h2 class="h4">{% trans "Front" %}</h2>
      {% include 'dcim/inc/rack_elevation.html' with face='front' extra_params=svg_extra %}
    </div>
  </div>
  <div class="col col-md-6 col-sm-6 col-xs-12 text-center">
    <div style="margin-left: 30px">
      <h2 class="h4">{% trans "Rear" %}</h2>
      {% include 'dcim/inc/rack_elevation.html' with face='rear' extra_params=svg_extra %}
    </div>
  </div>
</div>
