{% extends 'generic/object.html' %}
{% load i18n %}

{% block breadcrumbs %}
  {{ block.super }}
  {% for group in object.get_ancestors %}
    <li class="breadcrumb-item"><a href="{% url 'wireless:wirelesslangroup_list' %}?parent_id={{ group.pk }}">{{ group }}</a></li>
  {% endfor %}
{% endblock %}

{% block extra_controls %}
  {% if perms.wireless.add_wirelesslan %}
    <a href="{% url 'wireless:wirelesslan_add' %}?group={{ object.pk }}" class="btn btn-primary">
      <span class="mdi mdi-plus-thick" aria-hidden="true"></span> {% trans "Add Wireless LAN" %}
    </a>
  {% endif %}
{% endblock extra_controls %}
