{% load i18n %}
{% if htmx_url and has_permission %}
  <div class="htmx-container" hx-get="{{ htmx_url }}" hx-trigger="load" hx-target="this" hx-swap="innerHTML"></div>
{% elif htmx_url %}
  <div class="text-muted text-center">
    <i class="mdi mdi-lock-outline"></i> {% trans "No permission to view this content" %}.
  </div>
{% else %}
  <div class="text-danger text-center">
    <i class="mdi mdi-alert"></i> {% trans "Unable to load content. Could not resolve list URL for:" %} <span class="font-monospace">{{ model_name }}</span>
  </div>
{% endif %}
