{% load i18n %}
<form action="{{ form_url }}?return_url={{ return_url }}" method="post">
  {% csrf_token %}
  {% for field, value in form_data.items %}
    <input type="hidden" name="{{ field }}" value="{{ value }}" />
  {% endfor %}
  {% if bookmark %}
    <button type="submit" class="btn btn-cyan">
      <i class="mdi mdi-bookmark-minus"></i> {% trans "Unbookmark" %}
    </button>
  {% else %}
    <button type="submit" class="btn btn-cyan">
      <i class="mdi mdi-bookmark-plus"></i> {% trans "Bookmark" %}
    </button>
  {% endif %}
</form>
