{% load helpers %}
{% load i18n %}

<div class="card">
  <h2 class="card-header">{% trans "IKE Policy" %}</h2>
  <table class="table table-hover attr-table">
    <tr>
      <th scope="row">{% trans "Name" %}</th>
      <td>{{ object.ike_policy|linkify }}</td>
    </tr>
    <tr>
      <th scope="row">{% trans "Description" %}</th>
      <td>{{ object.ike_policy.description|placeholder }}</td>
    </tr>
    <tr>
      <th scope="row">{% trans "Version" %}</th>
      <td>{{ object.ike_policy.get_version_display }}</td>
    </tr>
    <tr>
      <th scope="row">{% trans "Mode" %}</th>
      <td>{{ object.ike_policy.get_mode_display }}</td>
    </tr>
    <tr>
      <th scope="row">{% trans "Proposals" %}</th>
      <td>
        <ul class="list-unstyled mb-0">
          {% for proposal in object.ike_policy.proposals.all %}
            <li><a href="{{ proposal.get_absolute_url }}">{{ proposal }}</a></li>
          {% endfor %}
        </ul>
      </td>
    </tr>
  </table>
</div>
