{% extends 'generic/object_children.html' %}
{% load i18n %}

{% block extra_controls %}
  {% include 'ipam/inc/toggle_available.html' %}
  {% include 'ipam/inc/max_depth.html' %}
  {% include 'ipam/inc/max_length.html' %}  
  {% if perms.ipam.add_prefix and first_available_prefix %}
    <a href="{% url 'ipam:prefix_add' %}?prefix={{ first_available_prefix }}" class="btn btn-primary">
      <i class="mdi mdi-plus-thick" aria-hidden="true"></i> {% trans "Add Prefix" %}
    </a>
  {% endif %}
  {{ block.super }}
{% endblock extra_controls %}
