{% extends 'generic/object.html' %}
{% load buttons %}
{% load helpers %}
{% load perms %}
{% load i18n %}

{% block breadcrumbs %}
{% endblock %}

{% block control-buttons %}
  {% if not object.pk or object.is_active and perms.core.add_configrevision %}
    {% url 'core:configrevision_add' as edit_url %}
    {% include "buttons/edit.html" with url=edit_url %}
  {% endif %}
  {% if object.pk and not object.is_active and perms.core.delete_configrevision %}
    {% delete_button object %}
  {% endif %}
{% endblock control-buttons %}

{% block subtitle %}
  {% if object.created %}
    <div class="text-secondary fs-5">
      {% trans "Created" %} {{ object.created|isodatetime }}
    </div>
  {% endif %}
{% endblock subtitle %}
