{% extends 'generic/_base.html' %}
{% load buttons %}
{% load helpers %}
{% load perms %}
{% load i18n %}

{% block title %}{% trans "Scripts" %}{% endblock %}

{% block tabs %}
  <ul class="nav nav-tabs">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" role="tab">{% trans "Scripts" %}</a>
    </li>
  </ul>
{% endblock tabs %}

{% block controls %}
  {% if perms.core.add_managedfile and perms.extras.add_scriptmodule %}
    {% add_button model %}
  {% endif %}
{% endblock controls %}

{% block content %}
  {% include 'extras/inc/script_list_content.html' with embedded=False %}
{% endblock content %}
