{% load helpers %}
{% load i18n %}

<div class="card">
  <h2 class="card-header">{% trans "Resources" %}</h2>
  <table class="table table-hover attr-table">
    <tr>
      <th scope="row"><i class="mdi mdi-gauge"></i> {% trans "Virtual CPUs" %}</th>
      <td>{{ object.vcpus|placeholder }}</td>
    </tr>
    <tr>
      <th scope="row"><i class="mdi mdi-chip"></i> {% trans "Memory" %}</th>
      <td>
        {% if object.memory %}
          <span title={{ object.memory }}>{{ object.memory|humanize_ram_capacity }}</span>
        {% else %}
          {{ ''|placeholder }}
        {% endif %}
      </td>
    </tr>
    <tr>
      <th scope="row">
        <i class="mdi mdi-harddisk"></i> {% trans "Disk Space" %}
      </th>
      <td>
        {% if object.disk %}
          {{ object.disk|humanize_disk_capacity }}
        {% else %}
          {{ ''|placeholder }}
        {% endif %}
      </td>
    </tr>
  </table>
</div>
