{% extends 'generic/confirmation_form.html' %}
{% load form_helpers %}
{% load i18n %}

{% block title %}
  {% blocktrans trimmed with device=device_bay.installed_device %}
    Remove {{ device }} from {{ device_bay }}?
  {% endblocktrans %}
{% endblock %}

{% block message %}
  <p>
    {% blocktrans trimmed with device=device_bay.installed_device %}
      Are you sure you want to remove <strong>{{ device }}</strong> from <strong>{{ device_bay }}</strong>?
    {% endblocktrans %}
  </p>
{% endblock %}
