{% extends 'generic/object.html' %}
{% load helpers %}
{% load plugins %}
{% load render_table from django_tables2 %}
{% load i18n %}

{% block breadcrumbs %}
  <li class="breadcrumb-item"><a href="{% url 'dcim:devicerole_list' %}">{% trans "Device Roles" %}</a></li>
{% endblock %}

{% block extra_controls %}
  {% if perms.dcim.add_device %}
    <a href="{% url 'dcim:device_add' %}?role={{ object.pk }}" class="btn btn-primary">
      <span class="mdi mdi-plus-thick" aria-hidden="true"></span> {% trans "Add Device" %}
    </a>
  {% endif %}
{% endblock extra_controls %}
