{% extends 'generic/object_edit.html' %}
{% load static %}
{% load form_helpers %}
{% load i18n %}

{% block title %}{% trans "Bulk Add IP Addresses" %}{% endblock %}

{% block tabs %}
  {% include 'ipam/inc/ipaddress_edit_header.html' with active_tab='bulk_add' %}
{% endblock %}

{% block form %}
    <div class="field-group my-5">
        <div class="row">
          <h2 class="col-9 offset-3">{% trans "IP Addresses" %}</h2>
        </div>
        {% render_field form.pattern %}
        {% render_field model_form.status %}
        {% render_field model_form.role %}
        {% render_field model_form.vrf %}
        {% render_field model_form.description %}
        {% render_field model_form.tags %}
    </div>

    <div class="field-group my-5">
        <div class="row">
          <h2 class="col-9 offset-3">{% trans "Tenancy" %}</h2>
        </div>
        {% render_field model_form.tenant_group %}
        {% render_field model_form.tenant %}
    </div>
    {% if model_form.custom_fields %}
        <div class="field-group my-5">
            <div class="row">
              <h2 class="col-9 offset-3">{% trans "Custom Fields" %}</h2>
            </div>
            {% render_custom_fields model_form %}
        </div>
    {% endif %}
{% endblock %}
