{% extends 'generic/_base.html' %}
{% load helpers %}
{% load form_helpers %}
{% load render_table from django_tables2 %}
{% load i18n %}

{% block title %}{% trans "Search" %}{% endblock %}

{% block tabs %}
  <ul class="nav nav-tabs">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" type="button" role="tab">
        {% trans "Results" %}
      </button>
    </li>
  </ul>
{% endblock tabs %}

{% block content %}
  <div class="row">
    <div class="col col-6 offset-3 py-3">
      <form action="{% url 'search' %}" method="get" class="form form-horizontal">
        {% render_form form %}
        <div class="text-end">
          <button type="submit" class="btn btn-primary">
            <span class="mdi mdi-magnify" aria-hidden="true"></span> {% trans "Search" %}
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="htmx-container table-responsive" id="object_list">
          {% include 'htmx/table.html' %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
