{% load form_helpers %}
{% load i18n %}

<form hx-post="{{ form_url }}">
  {% csrf_token %}
  <div class="modal-header">
    <h5 class="modal-title">{{ widget_class }} {% trans "Configuration" %}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <p>{{ widget_class.description }}</p>
    {% block form %}
      {% render_form widget_form %}
      {% render_form config_form %}
    {% endblock form %}
  </div>
  <div class="modal-footer">
    {% block buttons %}
      <button class="btn btn-primary">{% trans "Save" %}</button>
    {% endblock buttons %}
  </div>
</form>
