{% load i18n %}

<div class="d-flex ms-2">
  <button class="nav-link color-mode-toggle hide-theme-dark fs-2 p-0 text-secondary" title="{% trans "Enable dark mode" %}" data-bs-toggle="tooltip" data-bs-placement="bottom">
    <i class="mdi mdi-lightbulb"></i>
  </button>
  <button class="nav-link color-mode-toggle hide-theme-light fs-2 p-0 text-secondary" title="{% trans "Enable light mode" %}" data-bs-toggle="tooltip" data-bs-placement="bottom">
    <i class="mdi mdi-lightbulb-on"></i>
  </button>
</div>
