// Rendered Markdown
.rendered-markdown {

  table {
    width: 100%;

    // Apply a border
    th {
      border-bottom: 2px solid #dddddd;
      padding: 8px;
    }
    td {
      border-top: 1px solid #dddddd;
      padding: 8px;
    }

    // Map "align" attr of column headings
    th[align="left"] {
      text-align: left;
    }
    th[align="center"] {
      text-align: center;
    }
    th[align="right"] {
      text-align: right;
    }
  }

}

// Remove the bottom margin of the last <p> elements in markdown
.rendered-markdown {
  p:last-child {
    margin-bottom: 0;
  }
}

// fix layout of rendered markdown inside a table cell
td > .rendered-markdown {
  max-height: 200px;
  overflow-y: scroll;
}

// Markdown preview
.markdown-widget {
  .preview {
    border: 1px solid $border-color;
    border-radius: $border-radius;
    min-height: 200px;
  }
}
