{% load form_helpers %}

{# Hidden fields #}
{% for field in form.hidden_fields %}
  {{ field }}
{% endfor %}

{# Normal fields #}
{% for field in form.visible_fields %}
  {% if not form.meta_fields or field.name not in form.meta_fields %}
    {% render_field field %}
  {% endif %}
{% endfor %}

{# Meta fields #}
{% if form.meta_fields %}
  <div class="bg-primary-subtle border border-primary rounded-1 pt-3 px-3 mb-3">
    {% if form.changelog_message %}
      {% render_field form.changelog_message %}
    {% endif %}
    {% if form.background_job %}
      {% render_field form.background_job %}
    {% endif %}
  </div>
{% endif %}
