{% load helpers %}
{% load i18n %}
<div class="card">
  <h2 class="card-header">{% trans "Post-Change Data" %}</h2>
  <div class="card-body">
    {% if object.postchange_data %}
      {% spaceless %}
        <pre class="change-data">
          {% for k, v in object.postchange_data_clean.items %}
            <span{% if k in diff_added %} class="added"{% endif %}>{{ k }}: {{ v|json }}</span>
          {% endfor %}
        </pre>
      {% endspaceless %}
    {% else %}
      <span class="text-muted">{% trans "None" %}</span>
    {% endif %}
  </div>
</div>
